<nav>
    <div id="navbar" class="nav-wrapper">
        <a href="#" class="brand-logo">Listes de courses</a>
        <ul class="right hide-on-med-and-down">
            <li><a onclick="navigate('index')"><i class="material-icons right">view_module</i>Listes</a></li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="col s2"></div>
    <div class="col s8">
        <table id="tableAllListArchived" style="display: none;">
            <thead>
            <tr>
                <th scope="col">Shop</th>
                <th scope="col">Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="tableBodyAllListArchived">
            </tbody>
        </table>
    </div>
</div>